*{
  color: white;
  font-family: 'Shadows Into Light', cursive;
}

body {
  background: #B0A9B7;
  width: 100%;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  background: #B0B0B0;
}

a:active {
  text-decoration: none;
  color: white;
}

h1 {
  color: black;
}

ul.top {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
}

li {
  float: left;
  display: block;
}

#logo {
  color: black;
  font-size: 20px;
  margin-left: 0;
}

li.pages {
  margin-top: 30px;
  padding: 20px;
}

main {
  background: url("https://www.pngarts.com/files/8/White-Dinner-Plate-PNG-Image-Background.png");
  background-size: contain;
  background-origin: padding-box;
}

div.login {
  padding: 150px;
  margin: 10%;
  margin-bottom: 5%;
}

div.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: rgba(176, 176, 176, 0.8);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

div.box:hover {
  background: rgb(176, 176, 176);
}

h2 {
  color: black;
}

p.instructions {
  color: black;
}

label {
  color: black;
}

button {
  color: white;
  background: black;
}

footer {
  text-align: right;
  background: black;
  font-size: 1em;
  padding: 1vw;
}
