html {
  height: 100%;
}

body {
  background: #B0A9B7;
  color: white;
  
  font-family: 'Shadows Into Light', cursive;
  
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: 100%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  background: #B0B0B0;
}

a:active {
  text-decoration: none;
  color: white;
}

header {
  flex: 0 50px;
  font-size: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; 
  
  margin-left: 20px;
}

div.logo {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

div.pages {
  padding: 2vw;
  margin-top: 1vw;
}

.slide {
  animation: plates 2s;
  animation-iteration-count: infinite;
}

@keyframes plates {
  0% {
    background-image: url("https://www.pngarts.com/files/8/White-Dinner-Plate-PNG-Image-Background.png");
    background-size: contain;
    background-origin: padding-box;
    background-position-x: left;
  }
  
  100% {
    background-image: url("https://www.pngarts.com/files/8/White-Dinner-Plate-PNG-Image-Background.png");
    background-size: contain;
    background-origin: padding-box;
    background-position-x: right;
  }
}

div.login {
  padding: 150px;
  margin: 10%;
  margin-bottom: 5%;
}

div.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: rgba(176, 176, 176, 0.8);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

div.box:hover {
  background: rgb(176, 176, 176);
}

h2 {
  color: black;
  margin-bottom: 0;
}

#playerName {
  color: white;
  font-size: 2em;
  margin-top: 0;
}

#instructions {
  color: black;
}

#loginControls {
  display: flex;
}

#preexistingControls {
  display: flex;
}

label {
  color: black;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

li {
  margin-right: 2em;
  margin-left: 1em;
}

button {
  color: white;
  background: black;
  display: grid;
}

footer {
  background: black;
  color: white;
  font-size: 1em;
  padding: 1vw;
  margin-bottom: 0em;
  padding: 1vw;
  
  flex: 0 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

span.test-reset{
  margin-right: 10px;
}
